body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

nav {
    background-color: #242424;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav .nav-left {
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}

nav .nav-right a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
}

nav .nav-right a:hover {
    text-decoration: underline;
    color: #00bcd4;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

main {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

main h1 {
    color: #00bcd4;
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.info:after {
    content: "";
    display: table;
    clear: both;
}

.summary {
    float: left;
    width: 70%;
    text-align: left;
}

.headshot {
    float: left;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

hr {
    margin: 40px 0;
    border: 0;
    border-top: 2px solid #00bcd4;
}

.contact h1 {
    text-align: center;
    color: #00bcd4;
    font-size: 2em;
    margin-bottom: 10px;
}

.contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact li {
    margin: 5px 0;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-logo {
    width: 20px;
    margin-right: 10px;
}

.contact a {
    text-decoration: none;
    color: #fbfbfb;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.contact a:hover {
    color: #1565c0;
    text-decoration: underline;
}

.resume-container {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.resume-container h1 {
    color: #00bcd4;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.resume-link {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.resume-link:hover {
    background-color: #008c9e;
}

.resume-frame {
    width: 100%;
    height: 600px;
    border: none;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects ul li {
    padding: 0px;
    margin: 15px;
    font-size: 1.1em;
    text-align: left;
}

.projects ul li h5 {
    font-size: 1.5em;
    color: #e0e0e0;
    margin-bottom: 0px;
}

.projects ul li .award {
    font-size: 1em;
    color: #ffc107;
    margin-bottom: 10px;
    margin-top: 0px;
}

.projects ul li .summary {
    font-size: 1em;
    color: #b0b0b0;
    margin-bottom: 15px;
}

.projects ul li .links {
    margin: 10px 0;
    font-size: 1em;
    color: #e0e0e0;
}

.projects a {
    text-decoration: none;
    color: #4f83ab;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.projects a:hover {
    color: #1565c0;
    text-decoration: underline;
}

.projects ul li .details {
    font-size: 0.95em;
    color: #c0c0c0;
    line-height: 1.5;
    margin-top: 15px;
}

.circuit-simulation iframe {
    width: 100%;
    max-width: 800px;
    height: 700px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

video {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    display: block;
}